extends layout

block content
  .row
    .col-md-12
      h1= title
      p Want to get hold of us about the Call for Papers, here are the details
      ul
        li Twitter 
          a(href="https://twitter.com/hackferencebrum")  @hackferencebrum
        li E-mail
          a(href="mailto:cfp@hackference.co.uk", target="_blank")  cfp@hackference.co.uk
